<div class="wrap">
    <div class="horizontal">
        <p class="bold huge" [style.font-size]="isMobile ? '3rem' : '5rem'">Projects</p>
        <img [style.max-height]="isMobile ? '3rem' : '5rem'" src="assets/requiredassets/coder.png" class='wave' />
    </div>
    <p class="medium negativepadding alttextcolor">{{userprofile.projectsintro}}</p>
</div>
<div class="bottompadding toppaddingx2">
    <div class="skill-logos" *ngFor="let project of userprojects; index as i">
        <nb-card>
            <nb-card-body>
                <div class="nopadding">
                    <div class="horizontal nopadding space-between">
                        <p class="bold">{{project.projecttitle}}</p>
                        <p>{{project.company}}</p>
                    </div>
                    <p class="leftpadding">{{project.description}}</p>
                    <a href={{project.projecturl}} class="leftpadding">{{project.projecturl}}</a>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>