<nb-layout center>
    <nb-layout-header fixed withScroll class="main-navbar">
        <div class="header-container">
            <div class="logo-container">
                <div class="horizontal">
                    <input #autoInput nbInput type="text" (input)="onChange()" placeholder="Enter a name"
                        [nbAutocomplete]="auto" />
                    <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">
                        <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">
                            {{ option }}
                        </nb-option>
                    </nb-autocomplete>
                    <button nbButton class="horizontalpadding" (click)="setUserName()">Go</button>
                </div>
            </div>
        </div>

        <div class="another-header">
            <ng-container #actionscontainer></ng-container>
        </div>
    </nb-layout-header>

    <nb-layout-column>
        <ng-container #menucontainer></ng-container>
            <router-outlet></router-outlet>
    </nb-layout-column>

</nb-layout>

<app-spinner></app-spinner>